<h2>People</h2>

<li *ngFor="let obj of httpdata">{{obj | json}}</li> <!--How to output json. used for dev-->

<ul *ngFor = "let data of httpdata" style="list-style-type:none;">
    <li>Name : {{data.name}}</li>
    <li>Household : {{data.household}}</li>
  </ul>

  <!--
<div *ngFor="let household of households; index as productId">
    <h3>
        <a>productId</a>
        <a [title]="household.name + ' details'" [routerLink]="['/products', productId]">
            {{ household.name }}
        </a>
    </h3>


</div> -->
